<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h3>
            Click here to reset you password!
        </h3>
        <h2>
            <p>Click <a href="http://localhost:8000/users/resetPassword/<%=data.token%>">here</a> to reset your password</p>
        </h2>
    </body>
</html>