<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action="password_reset/<%=token%>" method="post">
            <input type="password" name="password" placeholder="Enter new password" required>
            <input type="password" name="confirmpassword" placeholder="confirm password" required>
            <input type="submit">
        </form>
        <p>
            <%= token %>
        </p>
    </body>
</html>