<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <%- include("header.ejs")%>
        <!--<ul><li>
            <a href="../users/signout">Sign Out</a>
        </li></ul>-->
        
        <h1>User Profile</h1>
        <p><%= user.name%></p>
        <p><%= user.mail%></p>
    </body>
</html>